<div class="contenedor-principal">
  <app-cabecera class="contenedor-cabecera"></app-cabecera>
  <div class="contenedor-cuerpo">
    <div class="contenedor-cuerpo-izquierda">
      <app-listado class="contenedor-listado" [usuarios]="usuarios" (usuarioSelecionadoRespuesta)="seleccionaUsuario($event)"></app-listado>
      <app-botonera (cambiosListaRespuesta)="cambiosLista($event)"></app-botonera>
    </div>
    <div class="contenedor-cuerpo-centro" >
      <app-contenido-datos class="contenedor-contenido-datos" 
      [usuarioSeleccionadoPadre]="usuarioSeleccionado" 
      (datosModificar)="datosUsuarioModificar($event)"
      ></app-contenido-datos>
    </div>
    <div class="contenedor-cuerpo-derecha">
      <app-mapa class="contenedor-mapa"></app-mapa>
    </div>
  </div>
</div>