<div class="contenedor-principal">
  <app-cabecera class="contenedor-cabecera"></app-cabecera>
  <div class="contenedor-cuerpo">
    <div class="contenedor-cuerpo-izquierda">
      <div class="contenido-cuerpo-izquierda">    
        <app-listado class="contenedor-listado" [usuarios]="usuarios" (usuarioSelecionadoRespuesta)="seleccionaUsuario($event)"></app-listado>
        <app-botonera (cambiosListaRespuesta)="cambiosLista($event)"></app-botonera>
      </div>
    </div>
    <div class="contenedor-cuerpo-centro" >
      <app-contenido-datos class="contenedor-contenido-datos" 
      [usuarioModificarInput]="usuarioModificar" 
      ></app-contenido-datos>
    </div>
    <div class="contenedor-cuerpo-derecha">
      <div class="text-danger">
        <label >Cambio</label>
        {{usuarioModificar|json}}
      </div>
      <div class="text-success">
        <label >Seleccionado</label>
        {{usuarioSeleccionado|json}}
      </div>
    </div>
  </div>
</div>